html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #eee;
}
button {
    cursor: pointer;
}

.container {
    display: flex;
    max-width: 900px;
    margin: 0 auto;
    flex-direction: column;
}

.mainHeader {
    padding: 20px;
    margin: 0;
}

.section {
    background-color: white;
    margin: 0;
    padding: 20px;
    box-shadow: 0px 0px 8px 1px rgb(226, 226, 226);
}

.section__header{
    font-size: 15px;
    padding: 10px;
    border-bottom: solid 2px #eee;
}

.section__field {
    padding: 10px;
}

.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
}

@media (max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
    }
}

.form__input {
    padding: 10px;
    border: 1px solid #ddd;
}

.form__button {
    border: none;
    background-color: teal;
    color: white;
    padding: 10px;
    transition: 0.3s;
}

.form__button:hover {
    background-color: hsl(180, 100%, 35%);
    transform: scale(1.1);
}

.form__button:active {
    background-color: hsl(180, 100%, 40%);
}

.tasks {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tasks__item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    grid-gap: 10px;
}


.tasks__item--done {
    word-break: break-word;
    text-decoration: line-through;
}

.tasks__item--hidden {
    display: none;
}

.tasks__content--done {
    text-decoration: line-through;
}

.tasks__button {
    width: 30px;
    height: 30px;
    color:white;
    border: none;
    padding: 0;
    transition:  background 0.5s;
    background-color: green;
}

.tasks__button:hover {
    background-color: rgb(0, 157, 0);
}

.tasks__button:active {
    background-color: rgb(0, 186, 0);
}

.tasks__button--remove {
    background-color: rgb(212, 19, 19);
}

.tasks__button--remove:hover {
    background-color: rgb(230, 11, 11);
}

.tasks__button--remove:active {
    background-color: rgb(255, 0, 0);
}

