html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #eee;
}
button {
    cursor: pointer;
}

.container {
    display: flex;
    max-width: 900px;
    margin: 0 auto;
    flex-direction: column;
}

.mainHeader {
    padding: 20px;
    margin: 0;
}